body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 16px;
}

.header {
    display: flex;
    border: 5px solid red;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    border: 5px solid red;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    border: 5px solid blue;
    display: flex;
    flex: 1;
    flex-direction: row;
}

/*Section one content */
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.left-one, .right-one {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-one {
    display: flex;
    align-items: center;
}

button {
    width: 80px;
}

.two {
    display: flex;
    flex-direction: column;
}



.footer {
    display: flex;
    border: 5px solid red;
    justify-content: center;
    padding: 10px;
}