* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 16px;
}

.header {
    display: flex;
    border: 5px solid red;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
}

.content {
    display: flex;
    border: 5px solid red;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    border: 5px solid blue;
    display: flex;
    flex: 1;
    flex-direction: row;
}

/*Section one content */
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
}

.left-one, .right-one {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-one {
    display: flex;
    align-items: center;
}

button {
    width: 80px;
}


/*Section two content */

.two {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 16px;
    gap: 32px;
}

.four-photos {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.photo {
    height: 100px;
    width: 100px;
    border: 5px solid purple;
}

.sub-text {
    width: 100px;
    text-align: center;
}

/* Section three styling */

.three {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote-box {
    display: flex;
    width: 400px;
    justify-content: left;
}

.citation {
    display: flex;
    width: 300px;
    justify-content: right;
}

/* Section four styling */




.footer {
    display: flex;
    border: 5px solid red;
    justify-content: center;
    padding: 10px;
}